*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
    background-color: #d9dbd2;
}

#green-line {
    width: 100%;
    height: 100px;
    background-color: #009688;
}

.container {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    position: relative;
    top: -70px;
    display: flex;
    border: 1px solid #aeafb3;
}

#splash-page {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #d5f9ba;
}

#aside {
    width: 30%;
    border-right: 1px solid #aeafb3;
    min-width: 200px;
    background-color: #fff;
}

main {
    width: 70%;
}

header, .text-message {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.chat-friend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    min-height: 60px;
}

#aside-chat {
    height: calc(100% - 110px);
    overflow: auto;
}

.chat-friend {
    background-color: #fff;
}

.row {
    height: 100%;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i{
    color: grey;
    padding-inline: 10px;
}

#sparisci {
    position: relative;
}

#orario {
    position: absolute;
    top: 0;
    right: 5px;
}

img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-inline: 5px;
}

.last-acces, #orario, #orario-messaggi{
    color: grey;
    font-size: .7rem;
}

.last-acces {
    overflow: hidden;
}

#notifiche {
    height: 60px;
    background-color: #8ad3f1;
}

#notifiche > .row i {
    color: #8ad3f1;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}

#notifiche .row {
    justify-content: flex-start;
}

#search-bar {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}
#search-bar > button {
    width: 30px;
    border: 1px solid #eaeaea;
    height: 25px;
}

#search-bar > input::placeholder {
    font-size: .7rem;
}

input {
    width: 87%;
    padding: 5px;
    border: 1px solid #eaeaea;
    height: 25px;
}

.chat-friend:hover {
    background-color: lightgrey;
}

.chat {
    height: calc(100% - 100px);
    background-image: url(../img/sfondo\ whatsapp.png);
    background-size: 50%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.message {
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 10px;
    font-size: .85rem;
    position: relative;
}

#orario-messaggi {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.left {
    align-self: flex-start;
    background-color: #fff;
}

.right {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.text-message input {
    height: 35px;
}

.text-message i {
    margin-inline: 20px;
}

.none {
    display: none;
}

.active {
    display: block;
}

#dropdown {
    width: 140px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    bottom: -70px;
    right: 0;
    z-index: 999;
    border-radius: 5px;
    font-size: .8rem;
    border: .3px solid lightgrey;
}

#dropdown > div {
    padding: 10px 15px;
}

.row.relative {
    position: relative;
}