<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="green-line"></div>

    <div id="app" class="container">
        <!-- container laterale -->
        <div id="aside">
            <!-- header container laterare con info profilo -->
            <header>
                <div class="row">
                    <img src="img/avatar-profile.jpeg" alt="">
                    <h5>Sofia</h5>
                </div>
                <div class="row">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>
            <!-- banner notifiche desktop -->
            <div id="notifiche">
                <div class="row">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="alert">
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <a href="#" class="last-acces">Attiva notifiche desktop</a>
                    </div>
                </div>
            </div>
            <!-- elenco contatti -->
            <div id="aside-chat">
                <!-- barra di ricerca per chat -->
                <div id="search-bar">
                    <button @click="searchChat(i)">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="ricerca" @keyup.enter="searchChat">
                </div>
                <div id="sparisci" class="chat-friend"  
                v-for="(chat, i) in contacts" 
                :class="chat.visible === false ? 'none' : ''"
                @click="changeChat(i)">
                    <div class="row">
                        <img :src="chat.avatar" alt="">
                        <div class="user">
                            <h5>{{chat.name}}</h5>
                            <span class="last-acces"> Ultimo messaggio inviato</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- parte corpo principale -->
        <main>
            <!-- header del  main -->
            <header>
                <!-- riga riferimento chat attiva -->
                <div class="row">
                    <img :src="contacts[indiceChat].avatar" alt="">
                    <div class="user">
                        <h5>{{contacts[indiceChat].name}}</h5>
                        <span class="last-acces">Ultimo accesso oggi alle 21:00 </span>
                    </div>
                </div>
                <div class="row">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>
            <!-- contenuto chat -->
            <div class="chat">
                <div class="message" v-for="(sms, i) in contacts[indiceChat].messages" :class="sms.status === 'sent' ? 'right' : 'left'" @click="showDropMenu(i)">
                    {{sms.message}}
                    <div id="delete" class="none" :class="visibilità">
                        <div>Info Messagge</div>
                        <div @click="deleteMessage(i)">Delete Messagge</div>
                    </div>
                </div>
            </div>
            <!-- input per digitare messaggi -->
            <div class="text-message">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="testoMessaggio" @keyup.enter="sendMessage">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </main>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>